@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root{
    --primary: #00B0d7;
    --accent: #ff6060;
    --dark: #001b2f;
    --light: #fff;
    --display_light: #fafafa;
    --actions_light: #e9f6ff;
    --display_dark: #00223a;
    --actions_dark: #001b2f;

    /* Transition */
    --transition: all 0.3s ease-in-out;
}

*{
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.calculator{
    position: relative;
    width: 320px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 8px 32px 64px rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}


.calculator__display {
    padding: 20px 24px;
    padding-bottom: 44px;
    margin-bottom: -24px;
    background-color: var(--display_light);
    text-align: right;
    transition: var(--transition);
}

.calculator__history{
    font-size: 24px;
    height: 33px;
}

.calculator__history strong{
    font-weight: 400;
    color: var(--accent);
}

.calculator__total{
    font-size: 32px;
    font-weight: 600;
    height: 42px;
}

.calculator__actions{
    padding: 16px;
    padding-bottom: 32px;
    border-radius: 20px;
    background-color: var(--actions_light);
    font-size: 24px;
    transition: var(--transition);
}

.calculator__row{
    display: flex;
    justify-content: space-between;

}

.calculator__col{
    cursor: pointer;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__col img{
    pointer-events: none;
}

.calculator__col_reset {
    color: var(--accent);
}

.calculator__col_actions {
    color: var(--primary);
}

.calculator_dark{
    color:var(--light);
}

.calculator_dark .calculator__display{
    background-color: var(--display_dark);
}

.calculator_dark .calculator__actions{
    background-color: var(--actions_dark);
}

.calculator_dark .calculator__history-panel{
    background-color: var(--dark);
    color: var(--light);
}

.calculator_dark .calculator__history-close {
    background-color: var(--dark);
}

/* theme */
.theme{
    cursor: pointer;
    display: flex;
    overflow: hidden;
    font-size: 20px;
    align-items: center;
    position: absolute;
    left: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
    color: var(--light);
    transition: var(--transition);
}

.theme i {
    transition: var(--transition);
}

.theme_dark{
    color: var(--dark);
}

.theme_dark i:first-child{
    margin-left: -20px;
}

/* All history */

.calculator__history-panel{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--light);
    color: var(--dark);
    display: flex;
    align-items: flex-end;
    padding: 20px 24px;
    flex-direction: column;
    transition: var(--transition);
}

.calculator__history-panel.open{
    top: 0;
}

.calculator__history-close{
    position: absolute;
    --size: 20px;
    cursor: pointer;
    top: 16px;
    left: 16px;
    font-size: calc(var(--size)/ 1.4);
    line-height: calc(var(--size)/ 1.1);
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    border: 1px solid var(--primary);
    color: var(--primary);
    text-align: center;
    background-color: var(--light);
}

.calculator__history-content > div:not(:last-child){
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.calculator__history-content {
    text-align: right;
}